.bookmark-item-remove {
  position: absolute;
  top: 11px;
  right: 5px;
  padding: 4px;
  margin: 0;
  width: inherit !important;
}
.bookmark-list-item {
  padding-right: 30px;
  padding-left: 5px;
}

@media screen and (max-width: 767px){
  .hide-bread-crumbs-for-tablet {
    display: none;
  }
  .hide-bread-crumbs-for-browser{
    display: inline;
  }
}

@media screen and (min-width: 768px){
  .main-breadcrumbs {
    position: fixed;
    top: 40px;
    left: 0px;
    right: 0px;
    padding: 3px;
    padding-left: 15px;
  }

  .main-nav-bookmark {
    font-size: 20px;
    color: $nav-button-color;;
    &.selected{
      color: #000;
    }
  }

  .main-nav-audio-control {
    font-size: 20px;
    &.selected{
      color: #000;
    }
  }

  .main-nav-bookmark-add {
    width: 100%;
    margin-bottom: 10px;
  }

  .hide-bread-crumbs-for-browser {
    display: none;
  }
}