.main-breadcrumbs {
  position: fixed;
  top: 90px;
  left: 20px;
  right: 20px;
}

.main-nav-bookmark {
  right: 13px;
  position: absolute;
  top: 70px;
  font-size: 20px;
  &.selected{
    color: #000;
  }
}

.main-nav-bookmark-add {
  width: 100%;
  margin-bottom: 10px;
}