$border-color: #9fa8a3;
$nav-button-color: #5a5c51;
$progress-color: #ba9077;
$progress-current-color: #000;
$progress-bg-color: #5a5c51;
$explorer-section-bg-color: #EBEBEC;
$explorer-chapter-bg-color: #F9F9F5;
$explorer-title-bg-color: #C5D5CB;
$badge-color: #6f6f77;
$pass-color: green;
$fail-color: red;
$current-color: #F7941D;
$label-color: #5a5c51;
$content-border-color: #bcd5d1;
