.main-content-container {
  border: 1px solid;
  border-color: $border-color;
  border-top-width: 0;
  position: fixed;
  top: 44px;
  left: 5px;
  right: 5px;
  bottom: 44px;
}

.main-content {
  position: fixed;
  top: 44px;
  left: 6px;
  right: 6px;
  bottom: 45px;
  background-color: #fff;
  overflow-y: scroll;
  padding-right: 0px !important;
  padding-left: 0px;
  margin-right: inherit;
  margin-left: inherit;
  width: inherit;
  border-style: solid;
  border-top-width: 9px;
  border-bottom-width: 9px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-color: $content-border-color;

}

.main-content-bottom-border {
  position: fixed;
  left: 5px;
  right: 5px;
  bottom: 53px;
  height: 1px;
  border-bottom-color: $border-color;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

@media screen and (max-width: 767px) {
  .main-content {
    top: 40px;
  }
}