
.main-content {
  position: fixed;
  top: 39px;
  left: 0px;
  right: 0px;
  bottom: 41px;
  background-color: #fff;
  overflow-y: scroll;
  padding-right: 0px !important;
  padding-left: 0px;
  margin-right: inherit;
  margin-left: inherit;
  width: inherit;
}

@media screen and (max-width: 767px) {
  .main-content {
    top: 40px;
  }
}