.footer {
  position: fixed;
  bottom: 5px;

  /* Set the fixed height of the footer here */

  background-color: #fff;
  left: 5px;
  right: 5px;
  z-index: 9999;
}

.footer-nav {
  height: 100%;
}

.footer-nav-row {
  margin-top: 15px;
}

.footer-expand-collapse-btn {
  margin-right: 10px;
}

.main-footer-chapter-row {
  font-style: italic;
  padding-left: 45px;
  background-color: $explorer-chapter-bg-color;
}

.footer-view-middle-items {
  border-radius: 0 !important;
}

.footer-view-middle-items:first-child {
  border-radius: 0 !important;
}

.footer-view-middle-items:last-child {
  border-radius: 0 !important;
}


.footer-view-first-item {
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.footer-view-middle-items:first-child {
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.footer-view-middle-items:last-child {
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.footer-view-last-item {
  border-top-right-radius: 0 !important;
  border-top-left-radius: 0 !important;
}

.footer-view-last-item:first-child {
  border-top-right-radius: 0 !important;
  border-top-left-radius: 0 !important;
}

.footer-view-last-item:last-child {
  border-top-right-radius: 0 !important;
  border-top-left-radius: 0 !important;
}

.main-footer-section {
  background-color: $explorer-section-bg-color;
  .list-group-item {
    a {
      font-weight: bold;
    }
  }

}
.main-footer-row:hover {
  background-color: #ECFAFE;
}
.main-footer-row {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  cursor: pointer;
  .badge {
    background-color: transparent;
    color: $badge-color;
    font-size: 17px;
    .pass {
      color: $pass-color;
    }
    .fail {
      color: $fail-color;
    }
    .current {
      color: $current-color;
    }
  }
}

.main-footer-chapter-row:first-child, .main-footer-page-row:first-child {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.main-footer-chapter-row:last-child, .main-footer-page-row:last-child {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.main-footer-page-row {
  padding-left: 90px;
}
.main-footer {
  height: 40px;
  padding-bottom: 0;
  background-color: #fff;
}

.main-footer-page-nav {
  height: 100%;
  overflow: hidden;
  border: 1px solid $border-color !important;

}

.footer-table {
  &>tbody>tr>td {
    border: none;
    padding: 0;
    line-height:2.5;
    button {
      padding-top: 5px;
    }
  }
}

.main-footer-tab-container {
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 40px;
  height: 100%;
  margin-bottom: 100px;
}
.main-footer-page-nav-row {
  background-color: #fff;
}

.explorer-icon-text-div {
  height: 25px;
  line-height: 21px;
}

.explorer-icon-text-span {
  vertical-align: middle;
}


.main-footer-tab {

}
.main-footer-tab-content {
  background-color: #fff;
  height: 100%;
  border-bottom-color: #ddd;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-color: #ddd;
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: #ddd;
  border-right-style: solid;
  border-right-width: 1px;
  padding: 5px;
  padding-top: 15px;
}

.main-footer-accordian {
  margin-bottom: 0;
}


.footer.expanded{

  height: 100%;
  padding-top: 0;
  top: 0;
  .footer-page-state {
    display: none;
  }
  .btn-close {
    display: block;
  }
}

.btn-close {
  display: none;
}

.content-well {
  width: 100%;
  height: 100%;
  min-height: 280px;
}

.btn-icon {
  font-size: 26px;
}

.btn-text-icon {
  display: -webkit-inline-flex;
}

.btn-text-icon .btn-icon {
  display: inline-flex;
  padding-right: 10px;
}

.main-footer-table-icon-col {
  min-width: 25px;
}

.main-footer-panel-body {
  padding: 0px;
}

.main-footer-tab-pane {
  height: 100%;
  overflow-y: scroll;
}

.main-footer-tab-container-expanded {
  margin: 5px;
  padding-top: 0px;
  padding-bottom: 65px;
  height: 100%;

  .main-footer-tab-content {
    padding-top: 15px;
  }
}
.main-footer-page-nav-buttons-expanded {
  padding-top: 0px;
  height: 40px;
  background-color: $explorer-title-bg-color;
  .progress-table, .btn-step {
    display: none;
  }
  .main-footer-page-nav-row {
    background-color: $explorer-title-bg-color;
    height: 40px;
  }

}

.main-footer-list-group {
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 420px) {
  #lessonsIndexBtn {
    padding-left: 5px;
    padding-right: 5px;
  }

  #lessonsIndexBtnIcon {
    padding-right: 0px;
  }

  .button-left-mobile-padding {
    padding-left: 5px;
    padding-right: 4px;
  }
  .button-right-mobile-padding {
    padding-left: 4px;
    padding-right: 5px;
  }
}