.footer {
  position: fixed;
  bottom: 0px;

  /* Set the fixed height of the footer here */

  background-color: #fff;
  left: 0px;
  right: 0px;
  z-index: 9999;
}

.footer-nav {
  height: 100%;
}

.footer-nav-row {
  margin-top: 15px;
}


.main-footer {
  height: 40px;
  padding-bottom: 0;
  background-color: #eaeaea;
}

.main-footer-page-nav {
  height: 100%;

}

.footer-table {
  &>tbody>tr>td {
    border: none;
    padding: 0;
    line-height:2.5;
    button {
      padding-top: 5px;
    }
  }
}

.main-footer-tab-container {
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 40px;
  height: 100%;
  margin-bottom: 100px;
}
.main-footer-page-nav-row {
  background-color: #fff;
}


.main-footer-tab {

}
.main-footer-tab-content {
  background-color: #fff;
  height: 100%;
  border-bottom-color: #ddd;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-color: #ddd;
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: #ddd;
  border-right-style: solid;
  border-right-width: 1px;
  padding-top: 25px;
}

.main-footer-accordian {
  margin-bottom: 25px;
  margin-left: 0px;
  margin-right: 0px;
}


.main-footer-accordian-table:hover {
  background: #eaeaea;
  cursor: pointer;
}
.main-footer-accordian-table>tbody>tr>td {
  vertical-align: middle;
  border-top: none;
  white-space: nowrap;
}

.dots {
  border-bottom-style: dotted;
  border-bottom-width: 2px;
  line-height: .75;
}

.footer.expanded{

  height: 100%;
  padding-top: 0;
  top: 0;

}

.content-well {
  width: 100%;
  height: 100%;
  min-height: 280px;
}

.btn-icon {
  font-size: 26px;
}

.btn-text-icon {
  display: inline-flex;
}

.btn-text-icon .btn-icon {
  display: inline-flex;
  padding-right: 10px;
}

.main-footer-table-icon-col {
  min-width: 25px;
}

.main-footer-panel-body {
  padding-left: 100px;
}

.main-footer-tab-pane {
  height: 100%;
  overflow-y: scroll;
}

.main-footer-tab-container-expanded {
  margin-top: 0;
  padding-top: 0px;
  padding-bottom: 39px;
  height: 100%;
  border-top-style: solid;
  border-top-color: #eaeaea;
  border-top-width: 1px;
  .main-footer-tab-content {
    padding-top: 0;
  }
}
.main-footer-page-nav-buttons-expanded {
  padding-top: 0px;
  height: 40px;
  .progress-table, .btn-step {
    display: none;
  }
  .main-footer-page-nav-row {
    background-color: #ececec;
  }

}

.main-footer-accordian {
  .panel-default>.panel-heading+.panel-collapse>.panel-body {
    border-top-color: #fff;
  }
  .panel-group .panel-heading+.panel-collapse>.list-group .panel-group {
    border-top: 1px solid #fff;
  }
  .panel-group.panel-heading+.panel-collapse>.panel-body {
    border-top: 1px solid #fff;
  }

  .panel-heading,
  .panel-default,
  .panel-body,
  .list-group,
  .panel-body,
  .panel-group .panel-heading+.panel-collapse>.list-group, .panel-group .panel-heading+.panel-collapse>.panel-body,
  .panel-group .panel-heading+.panel-collapse>.panel-body{
    border-color: #fff;
    background-color: #fff;
  }
}

.main-footer-accordian-table-pages {
  margin-left: 25px;
}

.main-footer-accordian-table-row {
  cursor: pointer;
}

.main-footer-accordian-table-row-visited {
  color: #8a6d3b;
}

.main-footer-accordian-table-row-active {
  color: #3c763d;
}

