
.nav-tabs.nav-justified>li>a {
  color: $label-color;;
}

.btn, .btn-default, .btn-link, .btn-icon, .btn-text-icon, .explorer-link {
  color: $nav-button-color;
  text-decoration: none;
  &:hover, &:focus {
    text-decoration: none;
  }
}

.list-group-item {
  a {
    color: $nav-button-color;
  }
}

.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus, .btn:active {
  background-color: transparent;
  border-color: transparent;
  outline: 0;
}

.alert-failed {
  background-color: #ddd;
}

.alert-failed {
  background-color: #eaeaea;
}

.closed-caption-button {
  position: absolute;
  top:10px;
  right: 10px;
}

.absolute-full {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.breadcrumb {
  border-radius: 0;
}