.main-nav-bar {
  margin-bottom: 0;
  float: right;
}

.main-nav-bar-nav {
  
}

.main-nav-bar-button {
  padding-top: 0px;
}

.main-nav-bar-header {
  position: absolute;
  top: 7px;
  //bottom: 7px;
  left: 20px;
  right: 20px;
  text-align: center;
  & a {
    width: 100%;
  }
}

.main-nav-bar-header .navbar-brand {
  font-size: 35px;
}

.main-nav-container {
  margin-left: 10px;
  margin-right: 10px;
  max-width: none;
  width: 100%;
  position: relative;
}

.navbar {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
}