button.navbar-toggle:hover {
  background-color: #9FA8A3 !important;
}

.bookmark-mobile-menu{
  font-size: 16px;
  margin-left: 50px;
}

.caret {
  display: none;
}

.dli-button{
  padding: 5px !important;
}

#collapseNav .nav .open a {
  border-color: #5A5C51;
}

.navbar-default {
  margin-right: 5px !important;
  margin-left: 5px !important;
  margin-top: 5px !important;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  .container {
    margin-top: 0px !important;
    width: auto;
  }
  .nav>li>a {
    padding: 5px;
  }
}

.navbar-fixed-top .navbar-collapse {
  max-height: none !important;
}

.dropdown-menu {
  padding-top: 0px;
  padding-bottom: 0px;
}

.navbar-brand {
  position: fixed;
  top: 8px;
  left: 150px;
  right: 253px;
  text-align: center;
  color: $nav-button-color;
  cursor: default;
}

.dropdown-menu {
  li {
    .large-bookmark-nav-item {
      height: 60px !important;
      border-bottom: 1px solid;
      border-bottom-color: #5A5C51 !important;
    }
  }
}

@media screen and (min-width: 767px) {

  .reduce-padding-around-a-element-for-nav-buttons{
    ul {
      display: none;
    }
    .dropdown {
      display: none !important;
    }

  }

  .bookmark-nav-item {
    display: none !important;
  }


  #collapseNav {
    li {
      p {
        display: none;
      }
    }
  }

  .vcat-logo{
    margin-top: 4px;
    max-height: 33px;
  }

  .navbarHeightDesktop{
    height: 39px;
  }

  .navbar-fixed-top {
    .container {
      height: 35px !important;
    }
  }

  .navbar-brand {
    margin: auto !important;
  }

  .navbar-header {
    height: 39px !important;
  }

  .navbar-header {
    .navbar-brand {
      padding-top: 8px;
      padding-bottom: 0px;
      height: 35px;
    }
  }

  .navbar-fixed-top {
    border: 1px solid $border-color !important;
  }

  ul{
    .btn {
      border: 0px solid transparent;
    }
  }

  ul{
    .main-nav-bar-button {
      border: 0px solid transparent;
    }
  }

  .ul-containing-navbar-buttons {
    height: 40px !important;
    .btn {
      border: none;
    }
    li {
      height: 40px;
      border: none;
      a {
        padding-top: 5px;
      }
    }
  }

  .navbar-toggle {
    margin-top: 4px;
    margin-bottom: 4px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 7px;
    padding-right: 7px;
    border-color: $nav-button-color !important;
  }

  .icon-bar {
    color: $nav-button-color;
    border-color: $nav-button-color;
    background-color: $nav-button-color !important;
  }

  #collapseNav {
    background-color: white;
    padding-left: 0px;
    padding-right: 0px;
    height: 35px !important;
  }


  .navbar-collapse .collapse .in {
    background-color: white;
  }

  .navbar-header {
    background-color: white;
    height: 35px !important;
  }

  .navbar-fixed-top .navbarHeightDesktop .navbar {
    .container {
      height: 44px !important;
    }
  }

  .navbar {
    min-height: 0;
  }


  .main-nav-bar {
    margin-bottom: 0;
    float: right;
    padding-top: 7px;
  }

  .main-nav-bar-nav {
    margin-right: 10px;
  }

  .main-nav-bar-button {
    padding: 0;
    min-width: 40px;
    max-width: 40px;
    color: $nav-button-color;
    i {
      font-size: 24px;
    }
  }

  .main-nav-bar-header {
    position: absolute;
    top: 7px;
    left: 20px;
    right: 20px;
    text-align: center;
    & a {
      width: 100%;
    }
  }

  .main-nav-bar-header {

  }

  .main-nav-bar-help-icon {
    font-size: 24px;
  }

  .main-nav-bar-header .navbar-brand {
    font-size: 25px;
    padding: 0;
    padding-top: 6px;
  }

  .main-nav-container {
    margin-left: 10px;
    margin-right: 10px;
    padding: 0;
    max-width: none;
    width: 100%;
    position: relative;
    img {
      margin-top: 5px;
      max-height: 35px;
    }
  }

  .navbar {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
  }

  .navbar-default {
    background-color: #fff;
    border-color: #fff;
  }

  .navbar-default {
    .container {
      margin-left: 0 !important;
      margin-right: 0 !important;
      width: 100%;
    }
  }
}

@media screen and (max-width: 767px) {

  #collapseNav {
    border: none;
    ul {
      .btn{
        border: none;
      }
      li {
        padding: 0px;
          a {
          height: 45px;
          .icons-mobile-menu{
            float: left;
          }
          button{
            padding: 0px;
          }
          p {
            display: inline;
            color: #5a5c51;
          }
        }
      }
    }
  }

  .reduce-padding-around-a-element-for-nav-buttons {
    margin: 0px;
    background-color: white;
    li {
      a {
        padding-top: 8px !important;
        padding-bottom: 7px;
        border-bottom: 1px solid #5a5c51;
      }
      .a-element-for-settings-dropdown {
        height: 45px !important;
      }
      a:hover {
        background-color: #9FA8A3 !important;
      }
    }
  }

  #mainView .navbarHeightDesktop .container {
    border: #5A5C51 solid 1px;
  }

  .navbar-fixed-top .container .navbar-collapse .reduce-padding-around-a-element-for-nav-buttons .reference-guide-on-mobile {
  }

  .reference-guide-on-mobile {
    a {
      text-align: left;
      line-height: 25px;
      #referenceView {
        float: left;
      }
      p {
        font-size: 16px;
        margin-left: 50px;
      }
    }
  }

  .navbar-nav {
    .dropdown #settingsViewDropdown {
      .main-nav-bar-button{
          float: left;
      }
      text-align: left;
      line-height: 25px;
      p {
        font-size: 16px;
        margin-left: 50px;
      }
    }
  }

  .navbar-nav .main-nav-bar-button a {
    line-height: 25px;
    text-align: left;
    p {
      font-size: 16px;
      margin-left: 50px;
    }
  }
}

@media screen and (min-width: 374px) and (max-width: 767px) {
  .vcat-logo {
    display: none;
  }

  .navbar-brand {
    padding-left: 35px;
    left: auto;
    right: auto;
  }

  .navbar-toggle {
    margin-top: 4px;
    margin-bottom: 4px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 7px;
    padding-right: 7px;
    border-color: #6f6f77 !important;
    margin-right: 25px;
  }


  .dropdown-menu{
    .dropdown-toggle {
      padding-left: 25% !important;
    }
  }

  .bookmark-text-li-element {
    display: inline;
  }

  .bookmark-text-paragraph-element {
    display: inline;
  }

  .breadcrumbs-icon-li-element {
    display: inline;
    div {
      display: inline;
      width: 28px;
    }
    ol {
      display: none !important;
    }
    .hide-bread-crumbs-for-browser {
      display: none;
    }
  }

  .breadcrumbs-view-in-dropdown-nav {
    width: 28px;
    height: 31px;
    margin-right: 0px;
    display: inline;
  }

  .breadcrumbs-ul-dropdown-nav {
    padding-left: 0px;
  }


  .toggle-mute-dropdown-nav-menu {
    font-size: 14px;
    margin-bottom: 10px;
    text-decoration: none !important;
  }

  .toggle-mute-dropdown-nav-menu:hover {
    text-decoration: none;
  }

  .dli-styling {
    display:none !important;
  }

  .vcat-logo{
    margin-top: 4px;
    max-height: 33px;
    margin-left: 40px;
  }

  .icon-bar {
    color: $nav-button-color;
    border-color: $nav-button-color;
    background-color: $nav-button-color !important;
  }

  .reduce-padding-around-a-element-for-nav-buttons {
    margin: 0px;
    background-color: white;
    li {
      a {
        padding-top: 8px !important;
        padding-bottom: 7px;
      }
      a:hover {
        background-color: #9FA8A3 !important;
      }
    }
  }

  .navbarHeightDesktop{
    height: 39px;
    .navbar-header {
      height: 38px;
    }
  }


  #collapseNav {
    width: 100%;
    margin: 0px;
    padding: 0px;
  }

  nav{
    height: 39px !important;
  }

  .navbar-default{
    min-height: 38px !important;
  }





  .navbar-fixed-top {
    .container {
      height: 39px;
      padding: 0px;
      background-color: white;
    }
  }

  .navbar-brand {
    padding-top: 8px !important;
    padding-bottom: 0px !important;
    height: 40px !important;
  }

  #collapseNav {
    ul {
      li {
        a {
          height: 45px !important;
          button{
            padding: 0px;
          }
          p {
            display: inline;
          }
        }
      }
    }
  }

}


@media screen and (max-width: 374px) {
  .vcat-logo {
    display: none;
  }

  .dli-styling {
    display:none !important;
  }

  .navbar-brand {
    margin-left: 20px;
    left: auto;
    right: auto;
  }

  .navbar-toggle {
    margin-top: 4px;
    margin-bottom: 4px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 7px;
    padding-right: 7px;
    border-color: $nav-button-color !important;
    margin-right: 25px;
  }

  .vcat-logo{
    margin-top: 4px;
    max-height: 33px;
    margin-left: 40px;
  }

  /*
  .icon-bar {
    color: $nav-button-color;
    border-color: $nav-button-color;
    background-color: $nav-button-color !important;
  }
*/


  .navbarHeightDesktop{
    height: 39px;
    .navbar-header {
      height: 39px;
    }
  }


  #collapseNav {
    width: 100%;
    margin: 0px;
    padding: 0px;
  }



  nav{
    height: 40px !important;
  }

  .navbar-default{
    min-height: 40px !important;
  }

  .navbar-fixed-top {
    .container {
      height: 40px;
      padding: 0px;
      background-color: white;
    }
  }

  .navbar-brand {
    padding-top: 8px !important;
    padding-bottom: 0px;
    height: 40px;
  }
}
