.page-header-custom {
  padding-bottom: 9px;
  margin: 20px 0 5px;
  border-bottom: 1px solid #eee;
  span {
    margin-left: 10px;
  }
}

.page-header-custom-title {
  font-size: 20px;
  font-weight: bold;
}




