.page-header-custom {
  padding: 10px 0 5px;
  border-bottom: 1px solid #eaeaea;
  border-top: 1px solid $border-color;
}

.tooltip-inner{
  -webkit-touch-callout: all;
  -webkit-user-select: all;
  -khtml-user-select: all;
  -moz-user-select: all;
  -ms-user-select: all;
  user-select: all;
}

.page-title-height {
  height: 22px;
}


.page-header-custom-title {
  font-size: 16px;
  font-weight: bold;
  padding-left: 15px;
  color: $nav-button-color;
}

#bookmarkButton, #audioControlButton, #audioControlIcon {
  margin-top: 4px;
  padding: 1px;
  border-style: solid;
  border-width: 1px;
  border-color: #eaeaea;
  width: 24px;
  height: 32px;
  span {
    margin: 0;
    padding: 0;
    color: $nav-button-color;
  }
}

#audioControlButton {
  border-left-color: #fff;
}

#audioControlIcon {
  border-right-color: #fff;
}

.btn-action {
  background-color: $nav-button-color;
  color: #fff;
}
#breadcrumbsButton {
  span {
    font-size: 17px;
  }
}

.infoAttributions {
  padding-left: 8px;
}

#audioControlIcon {
  padding-top: 4px;
  padding-left: 3px;
}

.audio-controls {
  display: flex;
}

.page-header-controls {
  position: absolute;
  right: 10px;
  top: 0px;
  list-style-type: none;
  li {
    float: left;
    button {
      margin: 0;
    }
  }
}



