.progress {
  background-color: $progress-bg-color;
}
.progress-bar-unit-complete {
  background-color: #ccc;
  background-image: none;
}

.progress-bar-pages {
  background-color: #ddd;
  background-image: none;
}

.progress-bar-total {
  background-color: $progress-current-color;
  background-image: none;
}

.progress-bar-unit {
  background-color: $progress-color;
  background-image: none;
}

.progress-table {
  &>tbody>tr>td {
    border: none;
    padding: 0;

  }
}

.progress-sub-table {
  &>tbody>tr>td {
    border: none;

  }
}


@media screen and (min-width: 420px) and  (max-width: 500px) {
  .hide-progress-bars {
    display: none;
  }
}

@media screen and (max-width: 420px) {

  .hide-progress-bars {
    display: none;
  }

  .shrink-td-padding-for-mobile {
    padding-left: 2px !important;
    padding-right: 2px !important;
  }

}
