.progress-bar-unit-complete {
  background-color: #ccc;
  background-image: none;
}

.progress-bar-pages {
  background-color: #ddd;
  background-image: none;
}

.progress-bar-total {
  background-color: #ccc;
  background-image: none;
}

.progress-bar-unit {
  background-color: #ddd;
  background-image: none;
}