/* settings-view */
.list-group-item {
  .btn {
    width: 100%;
  }
}

.settings-checkbox-p-element {
  display: inline;
}

.large-bookmark-nav-item {
  a {
    border-bottom: none !important;
  }
  height: 70px !important;
  border-bottom: 1px solid #5A5C51;
}

.large-bookmark-nav-item:hover{
  background-color: #9FA8A3 !important;
}