/* settings-view */
.list-group-item {
  .btn {
    width: 100%;
  }
}

.settings-checkbox-p-element {
  display: inline;
}

.large-bookmark-nav-item {
  a {
    border-bottom: none !important;
  }
  height: 70px !important;
  border-bottom: 1px solid #337ab7;
}
.large-bookmark-nav-item:hover{
  background-color: #D2E0E6 !important;
}