/* settings-view */
.list-group-item {
  .btn {
    width: 100%;
  }
  .btn-settings-volume{
    height: 14px;
    width: 14px;
    padding: 0;
    border: none;
  }
  .slider-box{
    padding-left: 2px;
    margin-right: 11px;
  }
}

.settings-checkbox-p-element {
  display: inline;
}

.large-bookmark-nav-item {
  a {
    border-bottom: none !important;
  }
  height: 70px !important;
  border-bottom: 1px solid #5A5C51;
}

.large-bookmark-nav-item:hover{
  background-color: #9FA8A3 !important;
}