/*Below media query targets IE8, IE9, IE10, IE11 */
/*
@media screen and (min-width:0\0) {

  .multiple-choice-flex {
    display: table;
    width: 100%
  }
}

@media screen and (min-width:0\0) and (min-resolution: .001dpcm) {
  .info-page-notes{
    .info-bullets-div {
      .info-bullets-indent {
        display: table;
      }
    }
  }
}

*/