@media screen and (min-width:0\0) {
  .info-page-notes{
    .info-bullets-div {
      .info-bullets-indent {
        display: table;
      }
    }
  }

  .multiple-choice-flex {
    display: table;
    width: 100%
  }


}