/*Below media query targets IE8, IE9, IE10, IE11 */
@media screen and (min-width:0\0) {

  .multiple-choice-flex {
    display: table;
    width: 100%
  }

  /* IE9 FIXES ONLY --- TO FIX IE9 Include \9\0 at the end of a css property*/
  .info-page-notes{
    .info-bullets-div {
      .info-bullets-indent {
        display: table\9\0;
      }
    }
  }

}


