/* This file targets IE9 and below */

/* Indents 3rd line of bullet points in info pages*/
div{
  .info-page-notes{
    .info-bullets-div {
      display: inline-block !important;
      .info-number {
        float: left;
      }
      .info-bullets-indent {
        display: table-row-group;
      }
    }
  }
}

.alert-dismissible{
  .multiple-choice-alert {
    .thumbnail {
      display: inline-block;
      float: left;
    }
  }
}

.ie-nine-class-multiple-choice{
  .multiple-choice-row{
    .multiple-choice-alert-text {
      display: inline-block;
      .thumbnail {
        display: inline-block;
        float: left;
        position: static;
      }
        .multiple-choice-feedback-icon{
          padding-right: 10px;
          float: left;
          display: inline-block;
          .coach-feedback-text {
            width: 100%;
            display: table-row-group;
          }
        }
    }
  }
}