.ethno-map {
  margin-left:auto;
  margin-right:auto;
}

.ethno-map-region-canvas {
  display:block;
  z-index:10;
  position: absolute;
  cursor: pointer;
  visibility: hidden;
}

.visible {
  visibility: visible !important;
  z-index: 12;
}

.onTop {
  z-index: 16;
}

.ethno-labels {
  color: rgba(0,0,0,0);
  visibility: hidden;
}

.visibleText {
  color: rgba(0,0,0,1);
  z-index: 20;
}

.regionNameOnMapText {
  z-index: 15;
}

.imageLayerView-region-canvas{
  display:block;
  z-index:10;
  position: absolute;
  cursor: pointer;
}
.labels {
  position: absolute;
  left:0;
  visibility: hidden;
}
