.ethno-map-container {
  position: relative;
}

.ethno-fake-checkbox {
  height: 12px;
  width: 12px;
  border-radius: 2px;
  border: 1px solid black;
  position: absolute;
  left: 0;
  display: inline-block;
  margin-top: 4px;
}

.ethno-region-name-span {
  margin-left: 20px;
}

.ethno-instruction-text {
  max-width: 135px;
  font-size: 10px;
  margin-bottom: 0;
  border-bottom: 1px solid #e3e3e3;
  padding-bottom: 5%;
  padding-left: 5%;
  padding-right: 5%;
}

.ethno-overlay-info-title {
  font-size: 15px;
  color: white;
  font-weight: bold;
}

.ethno-overlay-info-text {
  font-size: 12px;
  color: white;
}

.ethno-overlay-ul {
  list-style-type: none;
  padding: 0px;
}

.ethno-overlay-li {
  display: inline;
  text-align: center;
}

.ethno-overlay-title-text {
  font-size: 20px;
  color: white;
}

.more-less-info {
  margin-left: 210px;
}

.ethno-image-layers-view{
  margin-left: 10% !important;
  margin-right: 10% !important;
}

.ethno-wrapper-div {
  border-bottom-width: 1px;
  display: flex;
  overflow: hidden;
  padding-right: 0px !important;
  padding-left: 0px !important;
  position: relative;
}

.ethno-visible {
  visibility: visible !important;
  opacity: 1 !important;
  z-index: 12;
}

.imageLayerView-back-image {
  height: 100%;
  width: 100%;
}


.imageLayerView-region-canvas{
  display:block;
  z-index:10;
  position: absolute;
  cursor: pointer;
  left:0;
  float: left;
  margin: 0;
  opacity: 0;
}

.ethno-not-visible {
  visibility: hidden !important;
  opacity: 0 !important;
}

.ethno-sidebar-form {
  margin-right: 20px;
}

.well {
  margin-top: 0px;
  margin-left: 20px;
}


.ethno-close-button-for-overlay {
  position: absolute;
  right: 5px;
  top: 5px;
}


.ethno-overlay-main-div {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border: 1px solid #CCC;
  padding: 5px;
  z-index: 9999;
}



.ethno-overlay-info{
  height: 90px;
  overflow-y: scroll;
  margin-left: 5px;
  padding-top: 10px;
}

.ethno-overlay-info::-webkit-scrollbar{
  background-color: transparent;
}

#ethnoOverlay {
  position: absolute;
  width: 384px;
}

.ethno-overlay-bottom-left {
}

.ethno-overlay-title {
  text-align: center;
  padding-bottom: 5px;
  border-bottom: 1px solid white;
}


.ethno-close-button-for-overlay {
  border: none;
  background-color: transparent;
}

.ethno-close-button-for-overlay:focus {
  /*border-color: grey;*/
  background-color: transparent;}

.ethno-close-button-for-overlay:hover {
  /*border-color: grey;*/
  background-color: transparent;}

.ethno-close-button-for-overlay:active {
  /*border-color: grey !important;*/
  background-color: transparent;}

.ethno-close-button-for-overlay {
  .glyphicon {
    color: white;
  }
}

.ethno-overlay-button-container {
  float: right;
  .glyphicon {
    color: white;
  }
}

.ethno-overlay-prev-button {
  /*border-color: grey;*/
  border: none;
  background-color: transparent;}

.ethno-overlay-next-button {
  border: none;
  background-color: transparent;}

.ethno-overlay-prev-button:focus {
  /*border-color: grey;*/
  background-color: transparent;}

.ethno-overlay-next-button:focus {
  /*border-color: grey;*/
  background-color: transparent;}

.ethno-overlay-next-button:hover {
  /*border-color: grey;*/
  background-color: transparent;}

.ethno-overlay-prev-button:hover {
  /*border-color: grey;*/
  background-color: transparent;}

.ethno-overlay-prev-button:active {
  /*border-color: grey !important;*/
  background-color: transparent;}

.ethno-overlay-next-button:active {
  background-color: transparent;}

.ethno-overlay-prev-button:disabled {
  background-color: transparent;
  .glyphicon{
    opacity: 25%;
  }
}

.ethno-overlay-prev-button:disabled:hover {
  background-color: transparent;
  .glyphicon{
    opacity: 25%;
  }
}

.ethno-overlay-next-button:disabled {
  background-color: transparent;
}

.ethno-overlay-next-button:disabled:hover {
  background-color: transparent;
}
