.infoContainer{

}

.infoTitle{

}

.infoMediaContainer{
  margin: 0 auto;
  width: 800px;
  height: 400px;
}

.infoNoteContainer{
  margin: 0 auto;
}

.infoDataContainer{
  text-align: center;
}

.infoAttributions{
  pointer-events: all;
  font-size: 16px;
}