.infoMediaContainer {
  text-align: center;
}

.infoContainer{

}

.infoTitle{

}

.info-view-bullet-item:before {
  content: "• ";
  color: #000;
}

.infoMediaContainer{
  margin: 0 auto;
  margin-top: 20px;
  img {
    max-height: 300px;
    max-width: 400px;
  }
}

.infoNoteContainer{
  margin: 0 auto;
  margin-top: 20px;
  text-align: left;
  p {
    font-size: 18px;
    font-weight: 300;
    white-space: pre-wrap;
  }
}

.infoDataContainer{
  text-align: center;
}

.infoAttributions{
  pointer-events: all;
  font-size: 16px;
}

.fullcoach {
  video {
    width:100%;
    max-height: 350px;
  }
}