.infoContainer{

}

.infoTitle{

}

.infoMediaContainer{
  margin: 0 auto;
  margin-top: 40px;
}

.infoNoteContainer{
  margin: 0 auto;
  margin-top: 40px;
  p {
    font-size: 24px;
    font-weight: 300;
  }
}

.infoDataContainer{
  text-align: center;
}

.infoAttributions{
  pointer-events: all;
  font-size: 16px;
}