.mapContainer{
}


.mapInstructions{
  margin-left: 15px;
}

.compass{
  margin-left: 75px;
  margin-top: 150px;
}

.map-view-content{
  display: inline-flex;
  padding-top: 25px;
}

.interactiveMapPin{
  top: 0;
  -webkit-transition: top 0.5s;
  -moz-transition: top 0.5s;
  -ms-transition: top 0.5s;
  -o-transition: top 0.5s;
  transition: top 0.5s;
}
