.list-group-item, .questionnaire-list-group-item {
  .radio {
    margin: 0;
    label {
      width: 100%;
      padding: 10px 15px 10px 55px;
    }
  }

  .checkbox {
    margin: 0;
    label {
      width: 100%;
      padding: 10px 15px 10px 55px;
    }
  }
}
label{
  .questionnaire-radio-button{
    margin-top: 3px;
    width: 15px;
    height: 15px;
  }
}

.questionnaire-container {

  position: relative;
  margin: 30px;
  .panel-body {
    padding: 30px;
  }
  .panel-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
  h4 {
    margin-bottom: 20px;
  }
}

.questionnaire-time-lbl {
  margin-top: 30px;
  text-align: center;
  padding-bottom: 50px;
}

.questionnaire-results-container {
  li {
    list-style-type: disc;
  }
}

.questionnaire-list-group-item {
  margin: 0;
  padding: 0;
  .checkbox {
    margin: 0px;
    label {
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 30px;
      padding-right: 15px;
      width: 100%;
    }
  }
  .radio {
    margin: 0px;
    label {
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 30px !important;
      padding-right: 15px;
      width: 100%;
    }
  }
}

.questionnaire-end-btn-col {
  text-align: center;
}

@media screen and (max-width: 425px) {
  .questionnaire-container {
    margin: 10px;
  }
}