.test-out-results-container {
  border-style: solid;
  border-width: 1px;
  border-color: $border-color;
  position: absolute;
  top: 70px;
  bottom: 30px;
  left: 30px;
  right: 30px;
  padding: 27px;
  padding-top: 5px;
  h4 {
    margin-bottom: 20px;
  }
}

.test-out-results-th {
  background-color: $nav-button-color;
  color: #fff;
}

.test-out-credit-col {
  text-align: center;
}