.test-out-results-container {
  border-style: solid;
  border-width: 1px;
  border-color: $border-color;
  position: relative;
  margin: 30px;
  padding: 27px;
  padding-top: 5px;
  h4 {
    margin-bottom: 20px;
  }
}

.test-out-results-th {
  background-color: $nav-button-color;
  color: #fff;
}

.test-out-credit-col, .test-out-results-btn-container {
  text-align: center;
  button {
    background-color: $activity-btn-bg-color;
    color: $activity-btn-font-color;
  }
}

@media screen and (max-width: 525px) {
  .test-out-results-container {
    margin: 0px;
    border: none;
    padding: 10px;
    tbody .quiz-answer-row td {
      padding: 5px;
    }
  }
}