
.info-view-video-container{
  .closed-caption-button {
    position: absolute;
    top: 13px;
    right: 7px;
    padding: 0;
    text-shadow: 0 0 3px black;
    span {
      color: white !important;
      font-size: 20px;
    }
  }

  .closed-caption-button:visited {
    height: 28px;
    background-color: black;
    text-shadow: 0 0 3px black;
  }

  .closed-caption-button:hover {
    height: 28px;
    text-shadow: 0 0 3px black;
  }

  .closed-caption-button:focus {
    height: 28px;
    text-shadow: 0 0 3px black;
  }

  .closed-caption-button:active {
    height: 28px;
    text-shadow: 0 0 3px black;
    span {
      color: #D3D3D3 !important;
    }
  }
}

.closed-caption-panel {
  max-height: 320px;
  overflow: scroll;
  background-color: $info-panel-bg-color;
  color: $info-panel-font-color;
  &.panel-default>.panel-heading {
    background-color: $info-panel-bg-color;
    color: $info-panel-font-color;
  }
}

.closed-caption-close-button {
  position: absolute;
  padding: 3px;
  top: 5px;
  right: 20px;
  color: $info-panel-font-color;
  border-color: $info-panel-bg-color;
  background-color: $info-panel-bg-color;
  span {
    img {
      max-height: 15px;
    }
  }
}

.closed-caption-close-button:hover {
  color: $info-panel-font-color;
  background-color: $info-panel-bg-color;
}

.closed-caption-close-button:focus {
  color: $info-panel-font-color;
  background-color: $info-panel-bg-color;
}

