.image-caption-container {
  position: relative;
  display: inline-block;
  margin-top: 15px;
  .caption {
    text-align: center;
    padding: 5px;
    background-color:rgba(180, 145, 123, 0.75);
    position:absolute;
    bottom:0;
    left:0;
    right: 0;
    font-size:15px;
    color:$caption-font-color;
    p {
      margin: 0;
      padding: 0;
    }
  }
}