.image-caption-container {
  position: relative;
  display: inline-block;
  margin:0;
  .caption {
    text-align: center;
    padding: 5px;
    background-color:rgba(0, 0, 0, 0.75);
    position:absolute;
    bottom:0;
    left:0;
    right: 0;
    font-size:15px;
    color:white;
    p {
      margin: 0;
      padding: 0;
    }
  }
}