@mixin image-layers-view-trans($transType) {
  transition: $transType .25s ease-in-out;
  -moz-transition: $transType .25s ease-in-out;
  -webkit-transition: $transType .25s ease-in-out;
}

.image-layers-view-back-image {
  margin-left:auto;
  margin-right:auto;
}

.image-layers-view-region-canvas {
  display:block;
  z-index:2;
  pointer-events: auto;
  position: absolute;
  cursor: pointer;
  opacity:0;
}

.image-layers-view-fade-out {
  opacity: 0;
  @include image-layers-view-trans(opacity);
}

.image-layers-view-fade-in {
  opacity: 1;
  @include image-layers-view-trans(opacity);
}