#sourcesTooltip {
  z-index: 999999;
}
.glyphicon.glyphicon-ok-sign.pass {
  color: green;
}

.glyphicon.glyphicon-remove-sign.fail {
  color: red;
}

.active-dialog-image {
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
  height: 100%;
  width: 100%;
}

.active-dialog-view {
  position: relative;
  min-height: 504px;
}
.active-dialog-toolbar {
  top: 0px;
  left: 0px;
  right: 0px;
  position: absolute;
  display: block;
  max-width: 1000px;
  text-align: right;
  padding-top: 5px;
  padding-right: 5px;
  z-index: 1999;
}

.active-dialog-toolbar-icon {
  max-height: 19px;
}

.active-dialog-toolbar-btn, .active-dialog-toolbar-btn:hover, .active-dialog-toolbar-btn:focus {
  margin-top: 4px;
  padding: 1px;
  border-style: solid;
  border-width: 1px;
  border-color: #BA9077;
  color: #fff;
  width: 24px;
  height: 32px;
  background-color: #5A5C51;

}

#objectivesPopover {
  background-color: rgba(0, 0, 0, 0.75);
  border-color: #fff;
  .popover-title {
    background-color: transparent;
    border-color: #fff;
    color: #fff;
  }
  .popover-content {
    background-color: transparent;
    color: #fff;
    margin: 0;
    padding: 0;
    .list-group {
      margin: 0;
      padding: 0;
      .list-group-item:first-child {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-top: none;
      }
      .list-group-item:last-child {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom: none;
      }
      .list-group-item {
        background-color: transparent;
        color: #fff;
        border-left: none;
        border-right: none;
        span {
          .pass {
            color: green;
          }
          .fail {
            color: red;
          }
        }
      }
    }
  }
}

.carousel-control {
  width: 26px !important;
  background-image: none !important;
  background-color: #eaeaea;
}

.carousel-indicators {
  display: none !important;
}
.carousel-inner {
  padding-left: 30px !important;
  padding-right: 30px !important;
  padding-top: 0px !important;
  .item {
    .panel {
      margin-bottom: 0;
    }
    .panel-default {
      border-radius: 0 !important;
    }
    .panel-footer {
      text-align: center;
      button {
        margin-right: 15px;
        margin-left: 15px;
      }
    }
  }
}

.active-dialog-evaluation-feedback-text {
  margin-bottom: 20px;
  table {
    tbody {
      tr {
        td {
          border-top: none;
          img {
            margin-top: 5px;
          }
        }
      }
    }
  }
}

.active-dialog-eval-icon {
  float: right;
}

.active-dialog-eval-title {
  line-height: 15.5px !important;
  &.pass {
    color: green !important;
  }
  &.fail {
    color: red !important;
  }
}


.active-dialog-modal-full {
  .modal-dialog {
    position: absolute;
    top: 35px;
    bottom: 70px;
    left: 35px;
    right: 35px;
    text-align: center;
    margin: 0;
    display: block;
    width: inherit;
    .modal-body {
      padding: 0;
      .container {
        padding: 0;
        width: 100%;
        max-width: 100%;
        .infoContainer {
          padding-left: 15px;
          padding-right: 15px;
        }
      }
    }
    .modal-content {
      position: absolute;
      display: block;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
    .modal-footer {
      text-align: center;
      border-top: 1px solid #e5e5e5;
      background-color: #eaeaea;
    }
  }
}
/*

@media screen and (max-width: 767px){

  #introModal &.modal {
    overflow-y: hidden;
  }

  #introModal .modal-dialog {
    overflow-y: auto;
    border-radius: 8px;
    height: 92%;
    margin-top: 4%;
    margin-bottom: 4%;
  }

}

@media screen and (max-height: )
*/


.remediation-view-modal {
  #bookmarkButton {
    display: none !important;
  }
  .modal-footer {
    .btn {
      background-color: $nav-button-color;
      color: #fff;
    }
  }
}