.active-dialog-view {
  position: relative;
  min-height: 504px;
}
.active-dialog-toolbar {
  top: 0px;
  left: 0px;
  right: 0px;
  position: absolute;
  display: block;
  max-width: 1000px;
  text-align: right;
  padding-top: 5px;
  padding-right: 5px;
  z-index: 1999;
}

.active-dialog-toolbar-btn {
  margin-top: 4px;
  padding: 1px;
  border-style: solid;
  border-width: 1px;
  border-color: #6F6F77;
  color: #6F6F77;
  width: 24px;
  height: 32px;
}

#objectivesPopover {
  .popover-title {

  }
  .popover-content {
    .list-group {

    }
  }

}