.culture-quest-view-popHeaderCont{
  position: absolute;
  top:0;
  left:0;
  width:450px;
  height:41px;
  color: #cccccc;
  font-size:20px;
  border-bottom: 1px solid #cccccc;

  .culture-quest-view-popHeaderText{
    margin-left:10px;
    margin-top:5px;
    font-weight:normal;
  }
}