@mixin culture-quest-quiz-view-trans($transType) {
  transition: $transType .75s ease-in-out;
  -moz-transition: $transType .75s ease-in-out;
  -webkit-transition: $transType .75s ease-in-out;
}

.culture-quest-quiz-view-quizPop{
  z-index: 15;
  background-color: #fff;
  display:block;
  position:absolute;
  top: 150px;
  left:15px;
  width:700px;
  height:275px;
  opacity:0;
  overflow: hidden;

  .culture-quest-quiz-view-timer{
    position: absolute;
    left:350px;
    top:3px;
  }

  .culture-quest-quiz-view-quizCont{
    width:100%;
    height:100%;

    .culture-quest-quiz-view-instructorImg{
      background-color: #000;
      display:block;
      width:200px;
      height:275px;
      position: absolute;
      top:0;
      left:0;
    }
    .culture-quest-quiz-view-quizBody{
      background:#fff;
      position: absolute;
      width:480px;
      height:205px;
      top:32px;
      left:210px;
      overflow:auto;

      .culture-quest-quiz-view-input-blocks-cont {
        position: absolute;
        top: 115px;
        left: 0;

        .culture-quest-quiz-view-input-blocks-cent{
          position: relative;
          width:480px;
          height:100%;
          margin-left: auto;
          margin-right: auto;
          text-align: center;;

          .culture-quest-quiz-view-blockGroup {
            position: relative;
            margin-right: 20px;
            margin-top: 5px;
          }
        }
      }

      .culture-quest-quiz-view-questionText{
        color:#325B75;
        font-weight:400;
      }

    }
  }
}

.culture-quest-quiz-view-fade-out {
  opacity: 0;
  @include culture-quest-quiz-view-trans(opacity);
}

.culture-quest-quiz-view-fade-in {
  opacity: 1;
  @include culture-quest-quiz-view-trans(opacity);
}

.culture-quest-quiz-view-killInteraction{
  pointer-events:none;
}

.culture-quest-quiz-view-questionText{
  display:block;
  margin-bottom:5px;
}

.culture-quest-quiz-view-show{
  opacity:1;
}

.culture-quest-quiz-view-hide{
  opacity:0;
}