@mixin culture-quest-puzzle-award-view-trans($transType) {
  transition: $transType .75s ease-in-out;
  -moz-transition: $transType .75s ease-in-out;
  -webkit-transition: $transType .75s ease-in-out;
}

.culture-quest-puzzle-award-view-puzzleCont{

  position:absolute;
  display:block;
  top:30px;
  width: 768px;
  height: 504px;
  z-index:25;
  overflow: hidden;

  .culture-quest-puzzle-award-view-puzzleAwardImg{
    position: absolute;
    top:200px;
    left:404px;
    width:112px;
    height:168px;
    z-index: 25;
  }

  .culture-quest-puzzle-award-view-puzzleSlider{
    position: absolute;
    background-color:rgba(0,0,0,0.5);
    height: 465px;
    width: 135px;
    right: -135px;
    top: 20px;
    border: 1px solid #cccccc;

    .culture-quest-puzzle-award-view-slideHeader{
      position: absolute;
      top:3px;
      width:134px;
      height:45px;
      text-align: center;
      color:#cccccc;
      border-bottom:1px solid #cccccc;
      font-size:20px;
      line-height:40px;
      font-weight:200;
      letter-spacing:.5px;
    }

    .culture-quest-puzzle-award-view-sliderPuzzle{

      position: absolute;
      width:40px;
      height:50px;
      left:46px;
    }
  }

  .culture-quest-puzzle-award-view-awardPuzzle{

    position: absolute;
    top: 300px;
    left: 450px;
    width: 112px;
    height: 168px;
  }

  .culture-quest-puzzle-award-view-slideIn{
    right:0;
  }

  .culture-quest-puzzle-award-view-slideOut{
    right:-40px;
  }
}