.culture-quest-puzzle-game-view-puzzleSlider{
  position: absolute;
  background-color:rgba(0,0,0,0.5);
  height: 465px;
  width: 135px;
  right: 0;
  top: 57px;
  border: 1px solid #cccccc;
  z-index: 24;
}

.culture-quest-puzzle-game-slider-title{
  color:#cccccc;
  font-size:22px;
  font-weight:200;
  width:134px;
  height:45px;
  border-bottom:1px solid #cccccc;
  line-height:40px;
  text-align: center;
  letter-spacing:.5px;
}