/* DDAudioQuizView.scss */

li {
  list-style-type: none;
}

span {
  pointer-events: none;
  visibility: visible;
}

.paragraph{
  border: 1px solid #000000;
  width: 735px;
  min-height: 400px;
  height: auto;
  background: #cccccc;
  margin-top: 27px;
  margin-left: 65px;
  margin-right: 70px;
  float: left;
}

.paragraph > div {
  height: 50px;
  width: auto;
  position: absolute;
}

.word-list{
  border: 1px solid #000000;
  background: #cccccc;
  margin-top: 27px;
  width: 300px;
  height: auto;
  min-height: 400px;
  display: block;
  margin-right: 70px;
  position: absolute;
  right: 0px;
}

.dd-answer-list-item{
  position: absolute;
}

html {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

[draggable=true] {
  -khtml-user-drag: element;
  -webkit-user-drag: element;
  -khtml-user-select: none;
  -webkit-user-select: none;
}

.glyphicon{
  pointer-events: none;
}

.mouseover-play{
  position: absolute;
  top: inherit;
  left: inherit;
  z-index: 255;
  height: 0;
  width: 0;
  display: none;
  text-align: center;
  vertical-align: middle;
}

.mouseover-stop{
  position: absolute;
  top: inherit;
  left: inherit;
  z-index: 255;
  height: 0;
  width: 0;
  display: none;
  text-align: center;
  vertical-align: middle;
}

.answer-feedback-incorrect{
  position: absolute;
  top: inherit;
  left: inherit;
  color: #a94442;
}

.answer-feedback-correct{
  position: absolute;
  top: inherit;
  left: inherit;
  color: #3c763d;
}

.answer-handle{
  text-align: center;
  vertical-align: middle;
  position: relative;
  height: 100%;
  width: 100%;
}

.dd-word-bank-text {
  background-color: #f8f8f8;
  border-color: #e7e7e7;
  border-width: 1px;
  border-style: solid;
  text-align: center;
  padding: 10px;
  height: 100%;
  line-height: normal;
}

.dd-drop-answer-area {
  background-color: #f8f8f8;
  border-color: #e7e7e7;
  border-width: 1px;
  border-style: solid;
  text-align: center;
  vertical-align: middle;
  padding: 0px;
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
}

.dd-drop-answer-area-correct {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.dd-drop-answer-area-incorrect {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.dd-container {
  max-width: 100%;
  width: 100%;
  display: inline;
}

.dd-answer-area {
  display: inline-flex;
  line-height: 1px;
  position: absolute;
  width: 590px;
  height: 50px;
}

.dd-answer-area-text {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  min-height: 15px;
  cursor: pointer;
  position: relative;
  visibility: visible;
}

.dd-player-label {
  font-weight: bold;
}

.dd-answer-image {
  width: 64px;
  height: 64px;
}

.dd-draggable-area {
  display: inline-block;
  margin-bottom: 10px;
  cursor: pointer;
}

.dd-drop-answer-image {
  padding: 0px;
}

.dd-flag {
  top: 0;
  position: absolute;
}

.dd-flag:before {
  border-radius: 50%;
  background-color: white;
  padding: 1px;
}

.dd-quiz-title {
  text-align: center;
}

.dd-quiz-feedback {
  text-align: center;
}

.dd-quiz-submit {
  position: absolute;
  top: 5;
  left: 5;
}

.dd-quiz-container {
  padding-top: 0px;

}