input[type=checkbox] {
  &.listening-comp-checkbox {
    margin-right: 15px;
  }
}

.listening-comp-choices-container {
  margin-top: 20px;
}

.listening-comp-alert {
  background-color: #f7f7f9;
  border-color: #e1e1e8;
}

.listening-comp-feedback-icon {
  margin-right: 5px;
}

.listening-comp-alert-text {
  display: inline-flex;
  h5 {
    margin-left: 20px;
  }
  .thumbnail {
    width: 120px;
    height: 120px;
    margin: 0;
  }
}

.listening-comp-prompt {
  font-size: 72px;
  text-align: center;
}

.listening-comp-interaction-container {
  text-align: center;
}

/*

.LC-container{
  text-align: center;
}

.LC-promptContainer{
  left: calc(50% - 185px);
  text-align: center;
  width: 350px;
  height: 40px;
  border: 1px solid #666666;
  background: #bdbdbd;
  position: relative;
  margin: 10px;
  vertical-align: middle;
  cursor: pointer;
}

.LC-ResponseContainer{
  height: 245px;
  width: 300px;
  position: absolute;
  left: calc(50% + 200px);
  top: 0;
}

.LC-prompt{
  border: 1px solid #666666;
  background: #bdbdbd;
  width: 300px;
  height: 40px;
  text-align: center;
  vertical-align: middle;
  position: relative;
}

.LC-answers-container{
  position: relative;
  top: 20px;
  height: 200px;
  width: 300px;
  background: #cccccc;
}

.LC-answers{
  display: table;
}

input[class="LC-answerCheckbox"]{
  margin: 10px;
}

.LC-coachContainer{
  border: 1px solid black;
  height: 245px;
  width: 300px;
  top: 300px;
  position: absolute;
}

.LC-coachImage{
  position: absolute;
  left: 0px;
  height: 143px;
  width: 125px;
}

.LC-response{
  top: 150px;
  position: absolute;
  width: 100%;
  height: 95px;
}

.LC-feedback {
  cursor: default;
  position: absolute;
  top: 20px;
  font-size: 50px;
  left: calc(50% - 5px);
}

.LC-correct{
  color: green;
}

.LC-incorrect{
  color: red;
}

.LC-answerString{
  top: 90px;
  position: relative;
  left: 55px;
  font-weight: bold;
}
*/