.match-item-answer-drop-area{
  width: 80px;
  height: 77px;
  margin: 5px;
  font-size: 72px;
  .match-item-play-icon {
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 100%;
    margin-left: 0px;
  }
}

.matchitem-choice-td{
  .match-item-play-icon {
    margin: 0px;
    font-size: 55px;
    border: 1px solid black;
    border-radius: 5px;
    display: inline-flex;
    position: relative;
    .match-item-number {
      position: absolute;
      bottom: -9px;
      right: 1px;
    }
  }
}
.match-item-answer-drop-area{
  position: relative;
  .match-item-play-icon {
    margin: 0px;
    left: -1px;
    border: 1px solid black;
    border-radius: 5px;
    display: inline-flex;
    font-size: 55px;
  }
}

.match-item-audio{
  margin-left: 11px;
  margin-top: 11px;
  margin-bottom: 11px;
  margin-right: 11px;
  top: 0px;
  left: 0px;
}


.blue-test-style{
  background-color: blue;
}

[draggable=true] {
  -khtml-user-drag: element;
}

.match-item-image{
  height: 100px;
  width: 100px;
  margin: 5px;
}

.matchitem-question-td{
  width: 100%;
}

.matchitem-droparea-td{
  .match-item-answer-drop-area{
    height: 79px;
    width: 80px;
    margin: 0px;
    .match-item-audio-grayed-out{
      top: 0px;
      left: 0px;
      font-size: 55px;
      color: #AAAFB4;
      opacity: 0.7;
      position: absolute;
      z-index: 1;
    }
  }
}

.match-item-text-choice{
  margin-bottom: 10px;
  font-size: 12px;
  padding: 10px;
  line-height: 1.42857143;
  border: 1px solid #ddd;
  border-radius: 4px;
  background: #f9f9f9;
}

.match-item-choices-container {
  padding: 0;
}

.match-item-answers-container {
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
  border-radius: 6px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  li {
    background: #f9f9f9;
    border-top: 1px solid #ddd
  }
  li:nth-child(odd) { background: #fff; }
  li:first-child {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  }
  li:last-child {
    border-bottom: 1px solid #ddd
  }
}




.match-item-answer-prompt {
  margin-top: 5px;
}

.match-item-prompt {
  margin-bottom: 40px;
}

.match-item-answer-drop-area {
  display: block;
  padding: 4px;
  margin-bottom: 5px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 100%;
  height: 100%;
  min-height: 55px;
  position: relative;
  &.dropped {
    .match-item-play-icon {
      display: block;
      .match-item-number {
        position: absolute;
        top: 57px;
        right: 2px;
        margin-top: 0;


      }
    }
    margin: 0px;
    padding: 0;
    .match-item-text-choice {
      margin: 0;
      background-color: #fff;
      border: none;
      .MI-feedback {
        position: absolute;
        top: -5px;
        left: -5px;
        &.MI-correct {
          color: green;
        }
        &.MI-incorrect {
          color: red;
        }
      }
    }
  }
}

.match-item-buttons {
  margin-top: 20px;
  text-align: center;
}

.match-item-feedback-audio {

}

.match-item-answer-drop-area {
  padding: 5px;
  text-align: center;
  vertical-align: middle;
  .glyphicon-remove{
    font-size: 20px;
    display: block;
  }
  .glyphicon-ok {
    font-size: 20px;
    display: block;
  }
  .MI-feedback {
    position: absolute;
    top: -5px;
    right: -5px;
    &.MI-correct {
      color: green;
    }
    &.MI-incorrect {
      color: red;
    }
  }
}

.match-item-feedback-image {
  position: absolute;
  font-size: 22px;
  top: 2px;
  right: 2px;

}

.match-item-feedback-text {

}

@media screen and (max-width: 767px) {
  .match-item-prompt {
    margin-right: 15px;
    margin-left: 15px;
  }
}