
.mission-connect-view-mapCont{

  position:absolute;
  display:block;
  top:60px;
  left:0;
  width: 768px;
  height: 504px;
  z-index:1;
  overflow: hidden;
}

.mission-connect-view-pieces-cont{

  position:absolute;
  display:block;
  top:60px;
  left:0;
  width: 768px;
  height: 504px;
  z-index:5;
  overflow: hidden;

  .mission-connect-view-piece-block{

    position:absolute;
    display:block;
    width: 200px;
    height: 180px;
    overflow: visible;

    .mission-connect-view-home{
      position:absolute;
      display:block;
      top:0;
      left:0;
      width: 200px;
      height: 180px;
      z-index:1;
    }

    .mission-connect-view-icon{
      position:absolute;
      display:block;
      width: 100px;
      height: 100px;
      top: -32px;
      left: -10px;
      cursor:pointer;
      z-index:2;
    }
  }
}

.mission-connect-view-popCont{
  display: block;
  background: #fff;
  height:auto;


  //scenario - photo
  .mission-connect-view-popSenImgCont {
    float: left;
    width: 165px;
    height: 215px;

    .mission-connect-view-popSenImg {
      position: absolute;
      top: 10px;
      left:10px;
      width:164px;
      height:164px;
      border: 1px solid #737373;
      border-radius: 12px;
    }

    .mission-connect-view-popSenImgTitle {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 155px;
      height: 40px;
      font-weight: bold;
      font-size: 15px;
      text-align: center;
    }
  }

    //interview - photo
    .mission-connect-view-popIntImgCont {
      position: absolute;
      top: 15px;
      right: 15px;
      width: 92px;
      height: 120px;

      .mission-connect-view-popIntImg {
        position: absolute;
        top: 0;
        left: 0;
        width:92px;
        height:92px;
        border: 1px solid #737373;
        border-radius: 15px;
      }

      .mission-connect-view-popIntImgTitle {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 92px;
        height: 24px;
        font-weight: bold;
        font-size: 13px;
        text-align: center;
      }
    }

     //feedback - photo
    .mission-connect-view-popFeedbackImg {
      position: relative;
      width: 100px;
      height: 100px;
      border: 1px solid #737373;
      border-radius: 15px;
      float:left;
  }

   //scenario - text
  .mission-connect-view-popSenTextCont{
    margin-left:10px;
    float: left;
    width: 290px;
  }

   //interview - text
  .mission-connect-view-popIntTextCont{
    width: 375px;
  }

  //feedback - text
  .mission-connect-view-popFeedbackTextQuote{
    float:left;
    margin-left:15px;
    width: 350px;
    font-style: italic;
    font-weight: bold;
    font-size:16px;
  }

  .mission-connect-view-popFeedbackTextTitle{
    clear:left;
    padding-top:10px;
    font-weight: bold;
    font-size:17px;
  }

  .mission-connect-view-popFeedbackText{
    margin-top:5px;
    margin-bottom:20px;
    width: 470px;
    line-height:16px;
    font-size:14px;
  }

   //scenario - buttons
  .mission-connect-view-popSenBtnGrpCont{
    position: absolute;
    bottom:-20px;
    left:0;
    width:515px;
    height:60px;

    .mission-connect-view-popSenBtnCont{
      position:relative;
      margin-left: auto;
      margin-right: auto;
      text-align: center;

      .mission-connect-view-popSenBtn{
        margin-right:10px;
      }
    }
  }
    //interview - button
    .mission-connect-view-popIntBtnGrpCont {
      position: absolute;
      bottom:-20px;
      left: 0;
      width: 515px;
      height: 60px;

      .mission-connect-view-popIntBtnCont {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        text-align: center;

      }
    }

    //feedback - button
    .mission-connect-view-popFeedbackBtnGrpCont {
      position: absolute;
      bottom:-20px;
      left: 0;
      width: 515px;
      height: 60px;

      .mission-connect-view-popFeedbackBtnCont {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
      }
    }

  .mission-connect-view-popQuizCont {
    width:100%;
    height:auto;
    display:block;
    margin:30px 20px 20px 20px;

    .mission-connect-view-popIntRadio{
      margin-right:10px;
    }
  }
}