input[type=checkbox] {
  &.multiple-choice-checkbox {
    margin-right: 15px;
  }
}

.multiple-choice-choices-container {
  margin-top: 20px;
}

.multiple-choice-alert {
  padding: 9px 14px;
  margin-bottom: 14px;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  border-radius: 4px
}