.l2-answers-container{

}

.l2-column{

}

.l2-vocal-answer{

}

.l2-glyphicon{

}

.l2-note-text{
  margin-left: 30px;
  margin-right: 30px;
}

.l2-text-area{

}

.l2-native-text{
  font-size: 35px;
}

.l2-ezread-text{

}

.l2-translated-text{

}

.l2-record{

}

.l2-stop{

}

.l2-playback{

}

.l2-correct{
  color: green;
}

.l2-incorrect{
  color: red;
}

.l2-feedback{

}