input[type=checkbox] {
  &.multiple-choice-checkbox {
    margin-right: 15px;
  }
}

.multiple-choice-choices-container {
  margin-top: 20px;
}

.multiple-choice-alert {
  background-color: #f7f7f9;
  border-color: #e1e1e8;
}

.multiple-choice-feedback-icon {
  margin-right: 5px;
}

.multiple-choice-alert-text {
  display: inline-flex;
  h5 {
    margin-left: 20px;
  }
  .thumbnail {
    width: 120px;
    height: 120px;
    margin: 0;
  }
}