//popup
.objex-view-popCont{
  display: block;
  height: 100%;
  width: 100%;

  //intro pop

  .objex-view-textIntroTitle ,.objex-view-textLevelTitle{
    position:absolute;
    width:300px;
    top:90px;
    left:230px;
    font-size:32px;
    font-style:italic;
    color:#4b3928
  }

  .objex-view-textLevelTitle{
    font-size:27px;
    left:340px;
    top:110px;
  }

  .objex-view-textIntro{
    position:absolute;
    width:550px;
    left:230px;
    top:150px;
    line-height:24px;
    font-size:17px;
  }

  //levels pop
  .objex-view-popLevelIconCont {
    position: absolute;
    width: 146px;
    height: 45px;
    cursor: pointer;

    .objex-view-popLevelIconText {
      position: absolute;
      font-size: 20px;
      top: 8px;
      left: 41px;
    }

    .objex-view-popLevelIconLock {
      position: absolute;
      width: 18px;
      height: 25px;
      top: 10px;
      right: 10px;
    }
  }

  .objex-view-popLevelAdvancedIcon{
    position: absolute;
    width: 193px;
    height: 40px;
    bottom: 97px;
    right: 305px;
  }

  //level complete pop
  .objex-view-textComplete{
    position: absolute;
    font-size:48px;
    font-style:italic;
    color:#4b3928;
    z-index:10;
    top:32%;
    width:100%;
    text-align: center;
  }

  .objex-view-introButtonCont, .objex-view-completedButtonCont, .objex-view-advancedButtonCont, .objex-view-noTimeButtonCont {
    position:relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    top:300px;
    width:100px;
    height:100px;

    .objex-view-btn{
      margin-top:15px;
      display:block;
      width:100px;
      height:30px;
      border:2px solid #000;
      padding-top:3px;
      background-color: #d7c19b;
      color:#000;
    }
  }
  .objex-view-introButtonCont{
    top:355px;
  }

  .objex-view-advancedButtonCont{
    top:60px;
  }

  .objex-view-completedButtonCont{
    top:285px;
  }

  .objex-view-noTimeButtonCont{
    top:25px;
  }

  //basic, game done, out of time pop
  .objex-view-textAdvanced{
    text-align: center;
    font-size: 25px;
    line-height: 33px;
    width:340px;
    height:auto;
    margin-left:auto;
    margin-right:auto;
    margin-top:133px;
  }

  .objex-view-textGameDone{
    text-align: center;
    font-size: 25px;
    line-height: 37px;
    width:350px;
    height:auto;
    margin-left:auto;
    margin-right:auto;
    margin-top:180px;
  }

  .objex-view-textTimeUp{
    text-align: center;
    font-size:45px;
    font-style:italic;
    color:#4b3928;
    width:450px;
    height:auto;
    margin-left:auto;
    margin-right:auto;
    margin-top:175px;
  }

  //info pop
  .objex-view-infoPopClose{
    position: absolute;
    top:6px;
    right:0;
    width:23px;
    height:25px;
    cursor: pointer;
  }

  .objex-view-infoPopTitle{
    color: #878787;
    display:block;
    width:287px;
    height:32px;
    border-bottom:1px solid #cccccc;
    font-size:22px;
    font-style:italic;
    margin-bottom:10px
  }

  .objex-view-infoPopImg{
    top:10px;
    right:15px;
    float:right;
    width:140px;
    height:140px;
  }

  .objex-view-infoPopText{
    font-size:13px;
    line-height:14px;
  }
}

//vav
.objex-view-navCont{
  position: absolute;
  top:439px;
  left:0;
  width:1000px;
  height:105px;
  background:#d0d0d0;

  .objex-view-cellCont{
    position:relative;
    margin-left: auto;
    margin-right: auto;
    width: 425px;
    height: 90px;
    margin-top: 5px;

    .objex-view-cell{
      margin-right:10px;
      float: left;
      display:block;
      width:73px;
      height:73px;
      background:#fff;

      .objex-view-cellImg{
        position: relative;
        top:0;
        left:0;
        width:73px;
        height:73px;
        opacity:0;
      }

      .objex-view-cellTitle{
        position:relative;
        top:3px;
        left:0;
        width:73px;
        height:16px;
        text-align: center;
        font-size:12px;
        line-height:12px;
      }
    }
  }

  .objex-view-navContDesc{
    position: absolute;
    top: 5px;
    left: 25px;
    text-align: center;
    width:117px;
    height:75px;
    line-height:75px;

    span {
      display: inline-block;
      vertical-align: middle;
      font-size:13px;
      line-height:13px;
    }
  }

  .objex-view-navCoinCont{
    position: absolute;
    right:32px;
    top:45px;
    width:106px;
    height:27px;

    .objex-view-navCoin{
      position: absolute;
      top:0;
      width:26px;
      height:26px;
    }
  }

  .objex-view-navContHintLabel{
    position: absolute;
    left:810px;
    top:47px;
    width:45px;
    height:20px;
    text-align:right;
    font-size:14px;
  }

  //timers
  .objex-view-timer{
    position: absolute;
    left:820px;
    top:17px;
  }
}

.objex-view-textHalfway{
  display:none;
  width:399px;
  height:79px;
  position: absolute;
  font-size:45px;
  font-style:italic;
  color:#4b3928;
  z-index:10;
  left:288px;
  top:37%;
  padding-left:57px;
  padding-top:6px;
}