//popup
.objex-view-popCont {
  display: block;
  background: #fff;
  height: auto;

  .objex-view-popLevelIconCont{
    position: absolute;
    width: 162px;
    height: 82px;
    cursor:pointer;
  }

  .objex-view-popLevelIconText{
    position:absolute;
    font-weight:bold;
    font-size:25px;
    top:24px;
    left:41px;
  }
}

//vav
.objex-view-navCont{
  position: absolute;
  top:444px;
  left:0;
  width:768px;
  height:105px;
  background:#d0d0d0;

  .objex-view-cellCont{
    position:relative;
    margin-left: auto;
    margin-right: auto;
    width: 425px;
    height: 90px;
    margin-top: 5px;

    .objex-view-cell{
      margin-right:10px;
      float: left;
      display:block;
      width:73px;
      height:73px;
      background:#fff;

      .objex-view-cellImg{
        position: relative;
        top:0;
        left:0;
        width:73px;
        height:73px;
        opacity:0;
      }

      .objex-view-cellTitle{
        position:relative;
        top:3px;
        left:0;
        width:73px;
        height:16px;
        text-align: center;
        font-size:12px;
        line-height:12px;
      }
    }
  }

  .objex-view-navContDesc{
    position: absolute;
    top: 5px;
    left: 25px;
    text-align: center;
    width:117px;
    height:75px;
    line-height:75px;

    span {
      display: inline-block;
      vertical-align: middle;
      font-size:13px;
      line-height:13px;
    }
  }

  .objex-view-navCoinCont{
    position: absolute;
    right:10px;
    top:45px;
    width:106px;
    height:27px;

    .objex-view-navCoin{
      position: absolute;
      top:0;
      width:26px;
      height:26px;
    }
  }

  .objex-view-navContHintLabel{
    position: absolute;
    left:600px;
    top:47px;
    width:45px;
    height:20px;
    text-align:right;
    font-size:14px;
  }
}

//buttons
.objex-view-btnCont{
  position:relative;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  .objex-view-btn{
    margin-right:10px;
  }
}

.objex-view-textHalfway{
  display:none;
  position: absolute;
  color:#fff;
  z-index:10;
  top:35%;
  width:100%;
  text-align: center;
  font-size:70px;
}

