.li-container{
  height: 100%;
  width: 100%;
  text-align: center;
}

.li-title{
  text-align: left;
}

.li-note{
  text-align: left;
}

.li-answers-container{
  height: auto;
  width: 800px;
  left: calc(50% - 400px);
  border: 1px dashed black;
}