
.pronunciation-item-row {
  background: #f9f9f9;
  border-top: 1px solid #ddd
}

.pronunciation-item-row:nth-child(odd) {
  background: #fff;
}

.pronunciation-item-row:last-child {
  border-bottom: 1px solid #ddd
}


.pronunciation-text-container {
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}

.pronunciation-audio-button {
  text-align: center;
  vertical-align: middle;
  font-size: 36px;
  margin-top: 13px;
  .glyphicon{
    pointer-events: all;
    cursor: pointer;
  }
}