@mixin puzzle-map-view-trans($transType) {
  transition: $transType .75s ease-in-out;
  -moz-transition: $transType .75s ease-in-out;
  -webkit-transition: $transType .75s ease-in-out;
}

.puzzle-map-view-mapCont{

  position:absolute;
  display:block;
  top:30px;
  width: 768px;
  height: 504px;
  z-index:1;
  overflow: hidden;

  .puzzle-map-view-HUD-cont{

    background: #686868;
    position:absolute;
    display:block;
    width: 283px;
    height:166px;
    bottom:20px;
    right:20px;
    border: 2px solid #fff;

    .puzzle-map-view-HUD-completed{

      position:absolute;
      display:block;
      width: 160px;
      height:25px;
      bottom:10px;
      left:20px;
    }

    .puzzle-map-view-HUD-correct{

      position:absolute;
      display:block;
      width: 120px;
      height:25px;
      bottom:10px;
      right:10px;
    }
  }

  .puzzle-map-view-bottom-canvas{
    position:absolute;
    top:30px;
    left:0;
    width: 768px;
    height: 504px;
    z-index:2;
  }
}