
.puzzle-map-view-mapCont{

  position:absolute;
  display:block;
  top:60px;
  left:0;
  width: 768px;
  height: 504px;
  z-index:1;
  overflow: hidden;
}

.puzzle-map-view-HUD-cont{

  background: #b8b8b8;
  position:absolute;
  display:block;
  width: 283px;
  height:166px;
  top:25px;
  right:30px;
  border: 2px solid #fff;
  z-index:3;

  .puzzle-map-view-HUD-completed{

    position:absolute;
    display:block;
    width: 160px;
    height:25px;
    bottom:4px;
    left:20px;
  }

  .puzzle-map-view-HUD-correct{

    position:absolute;
    display:block;
    width: 120px;
    height:25px;
    bottom:4px;
    right:10px;
  }

  .puzzle-map-view-HUD-text{
    position: relative;
    width:100%;
    text-align: center;
    padding:15px;
  }

  .puzzle-map-view-HUD-buttonCont{
    position:absolute;
    bottom:10px;
    left:0;
    width:280px;
    height:35px;

    .puzzle-map-view-HUD-buttonContCent{
      position:relative;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      bottom:10px;
      width:100px;
      height:30px;
    }
  }

}

.puzzle-map-view-bottom-canvas{
  position:absolute;
  top:0;
  left:0;
  width: 768px;
  height: 504px;
  z-index:2;
}