.sorting-choices-list {
  list-style-type: none;
  li {
    display: inline-block;
  }
}

.sorting-playicon{
  margin: 20px;
  font-size: 72px;
  position: relative;
}

.sorting-feedback {
  position: absolute;
  font-size: 24px;
  left: 62px;
  top: 0;
}

.sorting-incorrect {
  color: red;
}

.sorting-correct {
  color: green;
}

.sorting-drop-area {
  min-height: 200px;
}

.sorting-actions {
  text-align: center;
}

.sorting-choices-container {
  text-align: center;
}

.sorting-choices-container-text{
  text-align: center;
  border: 1px solid black;
}

.sorting-panel-heading {
  text-align: center;
  font-weight: bold;
}

.sorting-feedback-text {
  text-align: center;
}