.sorting-view-container {
  border-style: solid;
  border-width: 1px;
  border-color: $border-color;
  position: absolute;
  top: 70px;
  bottom: 30px;
  left: 30px;
  right: 30px;
  padding: 27px;
  padding-top: 5px;
  h4 {
    margin-bottom: 20px;
  }
}

.sorting-clear, .sorting-tryAgain {
  background-color: $activity-btn-bg-color;
  color: $activity-btn-font-color;
}

.sorting-choices-list {
  list-style-type: none;
  padding: 0;
  li {
    display: inline-block;
  }
}

[draggable=true] {
  -khtml-user-drag: element;
}

.sorting-choices-container-text {
  text-align: center;
  border: 1px solid #ddd;
  padding: 0px;
  margin: 5px;
  border-radius: 4px;
  position: relative;
  div {
    padding: 10px;
    color: #000;
    font-weight: bold;
  }
  .sorting-feedback {
    top: -10px;
    right: -10px;
    position: absolute;
    font-size: 24px;
    .sorting-correct {
      color: red;
    }
    .sorting-incorrect {
      color: green;
    }
  }
}

.sorting-column {
  margin-bottom: 0;
}

.sorting-playicon{
  margin: 20px;
  font-size: 72px;
  position: relative;
}

.sorting-incorrect {
  color: red;
}

.sorting-correct {
  color: green;
}

.sorting-drop-area {
  min-height: 125px;
}

.sorting-actions {
  text-align: center;
}

.sorting-choices-container {
  text-align: center;
}

.sorting-panel {
  padding: 0;
  margin-bottom: 10px;
  .panel-body {
    padding: 0;
    margin: 0;
  }
}

.sorting-panel-heading {
  text-align: center;
  font-weight: bold;
}

.sorting-feedback-text {
  text-align: center;
}

@media screen and (max-width: 767px){
  .sorting-columnA {
    padding-left: 0px;
  }
  .sorting-columnB {
    padding-left: 0px;
  }

  .container {
    .row {

      .sorting-view-header-prompt {
        margin-left: 10px;
      }

      .sorting-columnA {
        padding-left: 15px;
      }
      .sorting-columnB {
        padding-left: 15px;
      }
    }
  }

}