.sorting-choices-list {
  list-style-type: none;
  li {
    display: inline-block;
  }
}

.sorting-playicon{
  margin: 20px;
  font-size: 72px;
}

.sorting-drop-area {
  min-height: 200px;
}

.sorting-actions {
  text-align: center;
}

.sorting-choices-container {
  text-align: center;
}