.UF-container{
  text-align: center;
}

.UF-Image{

}

.UF-InteractionContainer{
  width: 440px;
  position: absolute;
  left: calc(50% - 220px);

}

.UF-RecorderContainer{
  left: calc(50% - 175px);
  text-align: center;
  width: 350px;
  height: 64px;
  border: 1px solid #666666;
  background: #bdbdbd;
  position: relative;
}

.UF-ResponseContainer{
  height: 225px;
  width: 300px;
  position: absolute;
  left: calc(50% + 175px);
}

.UF-coachImage{
  position: absolute;
  left: 0;
  height: 143px;
  width: 125px;
}

.UF-PromptContainer{

}

.UF-glyphicon{
  font-size: 36px;
  pointer-events: auto;
  cursor: pointer;
}

.UF-response{
  top: 100px;
  position: absolute;
  margin: 25px;
  left: calc(50% - 25px);
}

.UF-record{
  position: absolute;
  left: 10px;
  top: 10px;
}

.UF-play{
  position: absolute;
  left: 50px;
  top: 10px;
}

.UF-feedback{
  cursor: default;
  position: absolute;
  top: 20px;
  font-size: 50px;
  left: calc(50% - 5px);
}

.UF-correct{
  color: green;
}

.UF-incorrect{
  color: red;
}